<div class="px-16 py-8 mx-auto">
  <div class="flex">
    <div class="w-1/2 mx-auto">
      <form [formGroup]="signinForm" (ngSubmit)="signin()">
        <div class="shadow rounded-lg border px-8 py-4">
          <div class="card-body">
            <div class="flex">
              <div class="w-full">
                <div class="text-center">
                  <h3 class="text-3xl font-extrabold">User Signin</h3>
                </div>
              </div>
            </div>

            <div class="flex">
              <div class="w-full">
                <div class="form-group mt-8">
                  <input
                    [formControlName]="'username'"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 focus:border-2 focus-visible:ring-indigo-500 focus-visible:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md bg-white border px-3 py-2 text-base leading-4 m-0 outline-none"
                    ID="TextMemberIdBox"
                    runat="server"
                    placeholder="User Name"
                  />
                  <span
                    class="text-red-600 text-sm italic"
                    *ngIf="
                      !signinForm.get('username')?.valid &&
                      signinForm.get('username')?.touched
                    "
                  >
                    Please provide valid username
                  </span>
                </div>
                <div class="form-group mt-3">
                  <input
                    [formControlName]="'password'"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 focus:border-2 focus-visible:ring-indigo-500 focus-visible:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md bg-white border px-3 py-2 text-base leading-4 m-0 outline-none"
                    ID="TextPasswordBox"
                    runat="server"
                    placeholder="Password"
                    type="password"
                  />
                  <span
                    class="text-red-600 text-sm italic"
                    *ngIf="
                      !signinForm.get('password')?.valid &&
                      signinForm.get('password')?.touched
                    "
                  >
                    Please provide valid password
                  </span>
                </div>
                <div class="flex justify-center mt-4">
                  <button
                    class="cursor-pointer mx-auto px-16 py-3 bg-indigo-600 rounded-lg text-white text-sm font-extrabold"
                    ID="LoginButton"
                    OnClick="ButtonMemberLogin_Click"
                    runat="server"
                    Text="Login"
                  >
                    Signin
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="flex justify-between">
        <a
          href="/"
          class="hover:text-indigo-600 text-indigo-500 text-sm italic mt-3 block"
          >Back to home</a
        >
        <p class="flex items-center text-sm mt-3">
          Dont have an account?
          <a
            routerLink="signup"
            class="hover:text-indigo-600 text-indigo-500 text-sm italic block ml-2"
            >Signup</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
